#navDiv
{
	background-color: rgba(72, 91, 96, 1); 
	height: 3em;
	font-size: 1.5em;
}

#pageName
{
	color: white; 
	position: relative;
	top: 0.9em;
	left: 0.7em;
}

#navSecondContent
{
	text-align: right;  
	position: relative; 
	bottom: 3.4em;
}

#navSecondContent p:nth-child(1)
{
	color: white; 
	position: relative;
	top: 2.1em;
	right: 6em;
}

#navSecondContent p:nth-child(2)
{
	color: white; 
	position: relative;
	right: 1em;
}

#bestMovieTitle
{
	text-align: center;
} 


#bestMovieContent
{
	width: 62.1em; 
	display: inline-block; 
	position: relative; 
	bottom: 5em; 
	color: white;
}


.bestMovie 
{
  background-image:linear-gradient(to left, rgba(0, 0, 0, 1), rgba(89, 89, 89, 1));
  height: 18.750em;
  background-size: cover;   
}


#window
{
	width: 45.313em; 
	color: black; 
	display: inline-block;
}

#window p
{
	display: block;
}


#ImageBloc 
{
	display: inline-block; 
	position: relative; 
	bottom: 0em; 
}

#movieImg
{
	display: inline-block; 
	position: relative; 
	bottom: 6.250em;
}


#bestMovieDescription
{
	text-align: center; 
}

#divImg
{
	width: 12.500em; 
	display: inline-block;
}

h2
{
	text-align: center;
}

img
{
	width: 15.625em;
	height: 18.750em;
}

#myBtn
{
  text-align: center; 
  color: white; 
  display: block; 
  margin: auto;
  background-color: red; 
  border-radius: 5em;
  width: 5em;
}


#frame {
  overflow: hidden;
}
.slider {
  position: relative;
  transition: 500ms;
  display: inline-flex;
}
.slide {
  display: inline-block;
}
.slider .slide
{
	width: 12.500em; 
	height: 6.250em; 
	margin-left: 5.938em; 
	margin-right: 5.938em;
}
.slider-arrow-left {
	z-index: 10;
	position: absolute;
	top: 70%;
	left: 0em;
}
.slider-arrow-right {
	z-index: 10;
	position: absolute;
	top: 70%;
	right: 0em;
}
.svg-arrow:hover{
	opacity:0.6;
  cursor: pointer;
}



#second-frame {
  overflow: hidden;
}
.second-slider {
  position: relative;
  transition: 500ms;
  display: inline-flex;
}
.second-slide {
  display: inline-block;
}
.second-slider .second-slide
{
	width: 12.500em; 
	height: 6.250em; 
	margin-left: 5.938em; 
	margin-right: 5.938em;
}
.second-slider-arrow-left {
	z-index: 10;
	position: absolute;
	top: 110%;
	left: 0em;
}
.second-slider-arrow-right {
	z-index: 10;
	position: absolute;
	top: 110%;
	right: 0em;
}
.second-svg-arrow:hover{
	opacity:0.6;
  cursor: pointer;
}



#third-frame {
  overflow: hidden;
}
.third-slider {
  position: relative;
  transition: 500ms;
  display: inline-flex;
}
.third-slide {
  display: inline-block;
}
.third-slider .third-slide
{
	width: 12.500em; 
	height: 6.250em; 
	margin-left: 5.938em; 
	margin-right: 5.938em;
}
.third-slider-arrow-left {
	z-index: 10;
	position: absolute;
	top: 150%;
	left: 0em;
}
.third-slider-arrow-right {
	z-index: 10;
	position: absolute;
	top: 150%;
	right: 0em;
}
.third-svg-arrow:hover{
	opacity:0.6;
  cursor: pointer;
}


#fourth-frame {
  overflow: hidden;
}
.fourth-slider {
  position: relative;
  transition: 500ms;
  display: inline-flex;
}
.fourth-slide {
  display: inline-block;
}
.fourth-slider .fourth-slide
{
	width: 12.500em; 
	height: 6.250em; 
	margin-left: 5.938em; 
	margin-right: 5.938em;
}
.fourth-slider-arrow-left {
	z-index: 10;
	position: absolute;
	top: 195%;
	left: 0em;
}
.fourth-slider-arrow-right {
	z-index: 10;
	position: absolute;
	top: 195%;
	right: 0em;
}
.fourth-svg-arrow:hover{
	opacity:0.6;
  cursor: pointer;
}

polyline
{
	stroke-linejoin:miter; 
	stroke:#00275a; 
	stroke-width:3; 
	fill: none;
}


.modal 
{
  display: none; 
  position: fixed; 
  z-index: 99; 
  left: 0em;
  top: 0em;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content 
{
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 1.875em;
  border: 0.063em solid #888;
  width: 80%;
}

.close 
{
  color: #aaa;
  float: right;
  font-size: 1.750em;
  font-weight: bold;
}

.close:hover, .close:focus 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#bestMovieId
{
	display: none;
}